.proyects_container{
    padding-top: 40px;
    border-top: black 1px solid;
}

.proyects_tittle{
    display: flex;
    justify-content: center;
}

.proyects_container_img{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
   justify-content: center;
}

.proyects_image{
    display: flex;
    justify-content: center;
}

.proyects_image:last-child:nth-child(odd) {
    left:50%;
    transform:translateX(50%); 
  }

  @media screen and (max-width: 647px) {

    .proyects_container_img{
        display: flex;
        flex-direction: column;
    }

    .proyects_image:last-child:nth-child(odd) {
        left:0%;
        transform:translateX(0%); 
      }
}